<!DOCTYPE html>
<html>
  <head>
    <title>Nextflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splashBG = "<%= image_url('/assets/splash-bg.jpg') %>";
    </script>
    <script src="https://kit.fontawesome.com/4eef9c4a7a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
